<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Describing the webpage -->
    <title>All About Me - Charlie Teixeira</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1> Welcome!</h1>
        <!-- Details about my academics -->
        <h2>Here is some information about my professional and academic career:</h2>
            <p>I study <em>Information Systems</em> and <em>Marketing</em> at the University of Maryland. I <strong>love</strong> being a Terp!</p>
            <p>Why do I <strong>love</strong> being a Terp? Here are a few reasons:</p>
                <ol>
                    <li>The vibrant atmosphere and strong sense of pride among fellow Terps.</li>
                    <li>The top-notch academic programs and renowned faculty.</li>
                    <li>Engaging in a variety of extracurricular activities and organizations.</li>
                </ol>
            <!-- Table of favorite courses and semester taken -->
            <p>I love learning about different things. Here are some of my favorite courses and when I took them.</p>
                <table>
                    <tr>
                        <th>Course</th>
                        <th>Semester</th>
                    </tr>
                    <tr>
                        <td>ENGL398</td>
                        <td>Fall 2022</td>
                    </tr>
                    <tr>
                        <td>BMGT301</td>
                        <td>Spring 2021</td>
                    </tr>
                    <tr>
                        <td>MUSC205</td>
                        <td>Spring 2021</td>
                    </tr>
                    <tr>
                        <td>BMGT484</td>
                        <td>Fall 2023</td>
                    </tr>
                </table>
            <!-- Logo of the business school logo -->
            <p>Shoutout to the Robert H. Smith Business School!</p>
            <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Robert H. Smith Business School Logo" class="logo"> <!-- Removed width and height attributes, added class "logo" -->
            <p></p>
            <!-- Link to go to my /hello route -->
            <a href="/">Home</a>
        <!-- Extracurricular section -->
        <h2>Here is some information about my extracurricular interests:</h2>
    <p>I try my best to keep my schedule <strong>balanced</strong>. I prioritize my health--getting 8 hours of sleep and exercising daily is <em>very</em> important.</p>
            <p>Here is what I do to stay active:</p>
                <ul>
                    <li>Basketball</li>
                    <li>Volleyball</li>
                    <li>Weight Training</li>
                    <li>Dog Walks</li>
                    <li>Biking</li>
                </ul>
    <!-- Links to fun websites -->
    <p>I enjoy listening to music. In fact, a lot of my friends steal my music. <a href="https://open.spotify.com/playlist/7eaon82h4xhT3ppCiIbZNc?si=3baaec93da494f07" target ="_blank">Here is a link to one of my Spotify playlists!</a></p>
    <p class="special-text">Getting tired of reading? <a href="https://www.nytimes.com/games/wordle/index.html">Here is a link to play Wordle</a>, one of my favorite online games.</p> <!-- Applied class attribute -->
    <p id="dog-paragraph">Why did the dog sit in the shade? Because he didn't want to be a hot dog!</p> <!-- Added id attribute -->
</body>
</html>