{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Training
{% endblock %}

<!-- Functionality for managers/admin to view training materials. Included mailto function -->
{% block page_content %}
    <div class="justify-content-center">
        <p>
            Welcome to your training for the TerpSys Student Information System.
            Training materials are currently under construction, but will be created very soon.
            Please check back soon or email Charlie Teixeira at <a href="mailto:mteixei2@umd.edu">mteixei2@umd.edu</a> if you wish to be placed on the waiting list.
        </p>
    </div>
{% endblock %}
